<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory List</title>
    <link rel='stylesheet' href='/stylesheets/inventoryList.css' />
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container">
            <% if(data !== undefined) { %>
                <% for(let i = 0; i < data.length; i++) { %>
                <div class="card-item">
                    <h2 class="card-item__description title">#<%= data[i].id %> <span><%= data[i].item_name %></span></h2>
                    <img class="card-item__img" src="/images/<%= data[i].item_image %>" />
                    <h2 class="card-item__description">$<%= data[i].item_price %></h2>
                    <h2 class="card-item__description"><%= data[i].item_description %></h2>
                    <a class="remove-button" href="/inventory/deleteItem/<%= data[i].id %>">Remove</a>
                    <br />
                </div>
            <% } %> 
        <% } %>
        </div>
        <% if(data.length === 0) { %>
            <h1 class="empty-inventory">
                No hay elementos en su inventario, agregue 
            <a href="/inventory">algunos</a>
        </h1>
        <% } %>
    </body>
</html>
